In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Mall_Customers.csv')
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
X = data[['Annual Income (k$)', 'Spending Score (1-100)']].values

In [4]:
from sklearn_extra.cluster import KMedoids
# Apply K-Medoids
kmedoids = KMedoids(n_clusters=5, metric='manhattan', random_state=42)
kmedoids.fit(X)

ModuleNotFoundError: No module named 'sklearn_extra'

In [5]:
labels = kmedoids.labels_
medoids = kmedoids.cluster_centers_

NameError: name 'kmedoids' is not defined

In [6]:
import matplotlib.pyplot as plt
# Plot the clusters
plt.scatter(X[:, 0], X[:, 1], c=labels, cmap='viridis', alpha=0.6)
plt.scatter(medoids[:, 0], medoids[:, 1], c='red', marker='X', s=200, label='Medoids')
plt.xlabel("Annual Income")
plt.ylabel("Spending Score")
plt.title("Customer Segmentation using K-Medoids")
plt.legend()
plt.show()

NameError: name 'labels' is not defined